body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #22577E;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #22577E;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #5584AC;
}

.top-container {
  background-color: #95D1CC;
  position: relative;
  padding-top: 100px;
}

p {
  line-height: 2;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #95D1CC;
  padding: 50px 0 20px;
}

.dev {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
  width: 8%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  width: 8%;
}

.mountain {
  width: 30%;
}

a {
  color: #5584AC;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: white;
}

.skill-row {
  width: 50%;
  margin: 150px auto 150px auto;
  text-align: left;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.brain-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr {
  border: dotted #7C99AC 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.intro {
  width: 35%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #5584AC;
  font-size: 1rem;
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #95D1CC;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #22577E;
  text-decoration: none;
}

.profile-img {
  width: 15%
}
